:root {
	--clr-VeryDarkDesaturatedViolet: sl(271, 36%, 24%);
	--clr-DarkGrayishViolet: hsl(268, 7%, 64%);
	--clr-LightMagenta: hsl(293, 100%, 63%);
	--clr-LightViolet: hsl(264, 100%, 61%);
}

body {
	padding: 64px 32px;
	font-family: 'Rubik', sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

.top-left-rec {
	position: absolute;
	left: -322px;
	top: -509px;
	width: 510px;
	height: 1018px;
	background: linear-gradient(
		to bottom,
		var(--clr-LightViolet),
		var(--clr-LightMagenta)
	);
	border-bottom-right-radius: 255px;
	z-index: -1;
}

.bottom-right-rec {
	position: absolute;
	right: -322px;
	bottom: -509px;
	width: 510px;
	height: 1018px;
	background: linear-gradient(
		to bottom,
		var(--clr-LightMagenta),
		var(--clr-LightViolet)
	);
	border-top-left-radius: 255px;
	opacity: 3%;
	z-index: -1;
}

.container {
	position: relative;
}

.info {
	text-align: center;

	&__Heading {
		font-size: 2.4rem;
		font-weight: 500;
		color: var(--clr-VeryDarkDesaturatedViolet);
		margin-bottom: 24px;
	}

	&__Text {
		line-height: 28px;
		font-weight: 400;
		color: var(--clr-DarkGrayishViolet);
	}
}
