:root {
  --clr-White: hsl(0, 0%, 100%);
  --clr-LightGrayishViolet: hsl(270, 20%, 96%);
  --clr-LightMagenta: hsl(293, 100%, 63%);
  --clr-LightViolet: hsl(264, 100%, 61%);
  --clr-ModerateViolet: hsl(276, 41%, 93%);
  --clr-DesaturatedDarkViolet: hsl(271, 15%, 43%); }

.phone {
  position: relative;
  width: 247px;
  height: 505px;
  margin: 0 auto;
  margin-bottom: 64px;
  background-color: var(--clr-White);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 30px; }
  .phone__outer-rim {
    position: absolute;
    width: 247px;
    height: 505px;
    box-shadow: 0px 30px 60px -10px rgba(62, 39, 83, 0.25);
    border-radius: 30px; }
  .phone__inner-rim {
    position: absolute;
    top: 11px;
    left: 9.5px;
    width: 228px;
    height: 483px;
    border-radius: calc(30px - 10.25px);
    background-color: var(--clr-LightGrayishViolet); }
  .phone__ear-piece {
    position: absolute;
    top: 0;
    left: 59px;
    width: 129px;
    height: 29px;
    border-radius: 0px 0px 14px 14px;
    background-color: var(--clr-White);
    z-index: 1; }
  .phone__user-details {
    position: absolute;
    top: 11px;
    left: 9.5px;
    width: 228px;
    height: 66px;
    background: linear-gradient(to bottom, var(--clr-LightViolet), var(--clr-LightMagenta));
    border-top-left-radius: calc(30px - 10.25px);
    border-top-right-radius: calc(30px - 10.25px); }
  .phone__from-message-box {
    width: 128px;
    height: 34px;
    background-color: var(--clr-ModerateViolet);
    border-radius: 10px 10px 10px 4px; }
    .phone__from-message-box.\--first-message {
      position: absolute;
      left: 17px;
      top: 88px; }
    .phone__from-message-box.\--second-message {
      position: absolute;
      left: 17px;
      top: 130px; }
    .phone__from-message-box.\--third-message {
      position: absolute;
      left: 17px;
      top: 309px;
      height: 45px; }
  .phone__to-message-box {
    width: 128px;
    height: 34px;
    background-color: var(--clr-White);
    border-radius: 10px 10px 4px 10px; }
    .phone__to-message-box.\--first-message {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      right: 17px;
      top: 180px;
      width: 136px;
      height: 40px;
      background-color: none; }
    .phone__to-message-box.\--image {
      height: 40px;
      width: 40px; }
    .phone__to-message-box.\--second-message {
      position: absolute;
      right: 17px;
      top: 228px; }
    .phone__to-message-box.\--third-message {
      position: absolute;
      right: 17px;
      top: 270px;
      width: 80px;
      height: 23px; }
  .phone__offer-message-box {
    width: 160px;
    height: 32px;
    background: linear-gradient(to bottom, var(--clr-LightViolet), var(--clr-LightMagenta));
    border-radius: 10px 10px 10px 4px; }
    .phone__offer-message-box.\--first-message {
      position: absolute;
      left: 17px;
      top: 362px; }
    .phone__offer-message-box.\--second-message {
      position: absolute;
      left: 17px;
      top: 402px; }
  .phone__text-input {
    position: absolute;
    width: 213px;
    height: 34px;
    bottom: 21px;
    left: 17px;
    background-color: var(--clr-White);
    border-radius: 16.9544px; }
